<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Member register</title>
    </head>
    <body>
        <h1>Members</h1>
        
        <form th:action="@{/addMember}" method="post">
            <input type="submit" value="Add member"/>
        </form>
        
        <p>Click <a th:href="@{/listMember}">here</a> to list the  members.</p>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign out"/>
        </form>
        
        <div th:if="${memberList != null}">
            <table>
                <tr>
                    <td>ID</td>
                    <td>First name</td>
                    <td>Last name</td>
                </tr>
                    <tr th:each="member : ${memberList}">
                    <td th:text="${member.id}">1</td>
                    <td th:text="${member.firstName}">firstName</td>
                    <td th:text="${member.lastName}">lastName</td>
                </tr>
            </table>
        </div>
    </body>
</html>